@page
@using Fara.Web.Features.Gallery
@model IndexModel

<div class="wall">
@foreach (PhotoListItem img in Model.Photos)
{
    <a href="#" class="tile">
        <img src="@img.Url" loading="lazy" decoding="async" alt=""/>
    </a>
}
</div>
